

body {
    background-color: #460a66;
    color: rgb(249, 249, 249);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
button {
    background-color: #5deff4;
    color: rgb(9, 9, 9);
    font-family: "Bai Jamjuree", sans-serif;
}
.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
main {
    text-align: center;
    max-width: 90%;
}
img {
    max-width: 90%;
}